@charset "UTF-8";
/* ---------------------------------------- レイアウトに関する指定 */
#wrapper {
  text-align: left;
  margin: 1em auto 0;
  width: 880px;
  border: 0px solid #cccccc;
}

#header {
  padding: 20px 20px 10px;
  border-bottom: 1px solid #cccccc;
  background-color: white;
}

#contents {
  float: left;
  width: 700px;
  padding: 10px 10px 10px 10px;
  border-right: 1px solid #cccccc;
  background-color: white;
}

#sidebar {
  float: right;
  width: 150px;
  padding: 5px 0px;
  background-color: white;
}

#footer {
  clear: both;
  padding: 0.5em 0 1em;
  border-top: 1px solid #cccccc;
  background-color: white;
}