@charset "utf-8";

.mainImg {
	margin-bottom: 30px;
}
.wrap h2 {
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2.5em;
	color: rgba(0,104,181,1.00);
	line-height: 1;
}
.wrap p.ttl {
	font-size: 0.88em;
	font-family: Meiryo, メイリオ, 游ゴシック体, 'Yu Gothic', YuGothic, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}
.topics {
	max-width: 900px;
	margin: 0 auto 20px;
	padding: 20px;
	border: 2px solid rgba(0,104,181,1.00);
	background: rgba(255,255,255,1.00);
}
.topics dl {
	border-top: 1px solid #ccc;
	padding-top: 10px;
}
.topics dl dt {
	font-size: 0.94em;
	margin-bottom: 4px;
}
.topics dl dd {
	font-size: 0.94em;
	margin-bottom: 10px;
	padding-left: 0.5em;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.topics dl dd a {
	display: block;
}
.topicsBtn {
	max-width: 160px;
	margin: 0 auto;
	text-align: center;
	background: rgba(255,255,255,1.0);
}
.topicsBtn a {
	display: block;
	padding: 8px;
	background: rgba(0,104,181,1.00);
	border-bottom: 3px solid rgba(0,72,125,1.00);
	border-radius: 4px;
	color: #fff;
	font-weight: bold;
	line-height: 1;
}
.topicsBtn a:hover {
	background: rgba(0,104,181,0.8);
}
/* ---------------------------------------------
	768px 以下
--------------------------------------------- */
@media only screen and (max-width: 768px) {


}

/* ---------------------------------------------
	640px 以下
--------------------------------------------- */
@media only screen and (max-width: 640px) {

	.wrap h2 {
		font-size: 2em;
	}
	.mainImg {
		margin-bottom: 20px;
	}
	.topics {
		padding: 12px;
	}
	.topics dl {
		padding-top: 6px;
	}
	.topics dl dt {
		font-size: 0.88em;
		margin-bottom: 2px;
	}
	.topics dl dd {
		font-size: 0.88em;
		margin-bottom: 6px;
		padding-bottom: 6px;
	}

}

/* ---------------------------------------------
	480px 以下
--------------------------------------------- */
@media only screen and (max-width: 480px) {



}
