@charset "ISO-2022-JP";
body       { background: #ffffff;
             color: #000000;
             margin-left: 10px;
             margin-top: 0px;
             margin-right: 0px;
             padding-top: 0px;
             font-family: 'Lucida Grande', helvetica, arial, verdana, 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;}
a:link     { color: #6600CC; text-decoration: underline; }
a:visited  { color: #6600CC; text-decoration: underline; }
a:hover    { color: #FFFFFF; text-decoration: none; background: #6600CC; }
a:active   { color: #FFFFFF; text-decoration: none; background: #6600CC; }
hr         { border-top: 1px dotted gray;
             width: 99%;}.ttl-j     { font-size: x-large;
             color: #6600CC; }
.ttl-e     { font-size: x-large;
             color: #808080; }
.sbttl-j   { font-size: large;
             color: #6600CC; }
.sbttl-e   { font-size: large;
             color: #808080; }
.ne        { color: #808080; }
.e         { font-size: small;
             color: #808080; }
.c1        { color: #6600CC; }
.c2        { color: rgb(51, 255, 51); }
.c3        { color: rgb(153, 153, 153); }
/* ------------------------------
 Maxima
------------------------------ */
.prompt    { color: rgb(255,0,0); }
.input     { color: rgb(0,0,255); }